<div class="container">
    <div class="row">
      <div class="col-md-4 my-border">
          <form [formGroup]="jobForm" (ngSubmit)="clickingAddNewJob(jobForm.value)">

              <label for="jobName">Job Name*</label>
              <input type="text" [ngStyle]="{'border' : !jobForm.controls['jobName'].valid && jobForm.controls['jobName'].touched ? '1px solid red' : ''}" name="jobName" id="jobName" formControlName="jobName">
              <!-- <p *ngIf="jobForm.controls['jobName'].errors.required && jobForm.controls['jobName'].touched" [style.color]="'red'">Name is required</p>
              <p *ngIf="jobForm.controls['jobName'].errors.pattern && jobForm.controls['jobName'].touched" [style.color]="'red'">Invalid name</p>
              <p *ngIf="jobForm.controls['jobName'].errors.minlength && jobForm.controls['jobName'].touched" [style.color]="'red'">Fall short in length</p>
              <p *ngIf="jobForm.controls['jobName'].errors.maxlength && jobForm.controls['jobName'].touched" [style.color]="'red'">Exceded max length</p> -->
              <br>
              <div class="row">
                <div class="col-sm-6">
                  <label for="jobType">Job Type*</label>
                  <select name="jobType" id="jobType" formControlName="jobType">
                    <option *ngFor="let jobType of jobTypes">{{jobType}}</option>
                  </select>
              <!-- <p *ngIf="jobForm.controls['jobType'].errors.required && jobForm.controls['jobType'].touched" [style.color]="'red'">Name is required</p> -->
                </div>
                <div class="col-sm-2">
                  <button (click)="clickingPlusButton()" data-toggle="modal" data-target="#exampleModal"> + </button>
                </div>
              </div>
            
            
              <label for="description">Description*</label>
              <textarea [ngStyle]="{'border' : !jobForm.controls['description'].valid && jobForm.controls['description'].touched ? '1px solid red' : ''}" rows="3" cols="20" name="description" id="description" formControlName="description"></textarea>
              <!-- <p *ngIf="jobForm.controls['description']?.errors?.required && jobForm.controls['description'].touched" [style.color]="'red'">Name is required</p>
              <p *ngIf="jobForm.controls['description']?.errors?.pattern && jobForm.controls['description'].touched" [style.color]="'red'">Invalid name</p>
              <p *ngIf="jobForm.controls['description']?.errors?.minlength && jobForm.controls['description'].touched" [style.color]="'red'">Fall short in length</p>
              <p *ngIf="jobForm.controls['description']?.errors?.maxlength && jobForm.controls['description'].touched" [style.color]="'red'">Exceded max length</p> -->
              <br>
            
              <button type="submit" [disabled]="">Add New Job</button>
            </form>
            
            
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Add New Job Type</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form [formGroup]="addJobTypeForm" (ngSubmit)="addNewJobTypeInPopup(addJobTypeForm.value)">
                        <div class="form-group">
                          <label for="addJobTypeForm" class="form-control-label">Job Type Name: </label>
                          <input type="text" class="form-control" id="addJobTypeForm" formControlName="newJobType">
                        </div>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Add This Job Type</button>
                    </form>
                    </div>
                  </div>
                  </div>
            </div>
      </div>
      <div class="col-md-8 my-border">
          <div *ngFor="let jobType of jobTypesFilter | slice : start : end; let jobTypeIndex = index">
              <label>Job Type: {{ jobType.jobType }}</label>
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Job Name</th>
                      <th>Job Description</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="!showMoreFlag[jobTypeIndex]">
                    <tr *ngFor="let entity of allEntity | filterBy: jobType; let entityIndex = index">
                      <td>{{entity.jobName}}</td>
                      <td>{{entity.description}}</td>
                      <td>{{entity.date | date:'mediumDate'}}</td>
                      <td>{{entity.time}}</td>
                      <td *ngIf="!appliedTheButtonApply[entityIndex]"><button type="action" (click)="clickOnApplyButton(entityIndex)" [disabled]="appliedTheButtonApply[entityIndex]">Apply Now</button></td>
                      <td *ngIf="appliedTheButtonApply[entityIndex]"><button type="action" (click)="clickOnApplyButton(entityIndex)" [disabled]="!appliedTheButtonApply[entityIndex]">Applied</button></td>
                    </tr>
                    <tr> Count: {{countOfJobTypes[jobTypeIndex]}}</tr>
                    <tr *ngIf="!showMoreFlag[jobTypeIndex] && countOfJobTypes[jobTypeIndex]>3"><button (click)="showMoreButtonClick(jobTypeIndex)">Show More</button></tr> 
                    <tr *ngIf="showMoreFlag[jobTypeIndex]"><button (click)="showTop3ButtonClick(jobTypeIndex)">Show Top 3 Jobs</button></tr>                  
                  </tbody>
              </table>
                <hr>
          </div>
      </div>
    </div>
  <button routerLink="/detail">Show All Applied</button>
</div>